name: dbt_run

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

# Prevent overlapping runs
concurrency:
  group: dbt-main
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    environment: dev  

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dbt
        run: |
          pip install --upgrade pip
          pip install dbt-core dbt-snowflake

      - name: Set up dbt profile
        run: |
          mkdir -p ~/.dbt
          cat <<EOF > ~/.dbt/profiles.yml
          my_snowflake_profile:
            target: snowflake_dev
            outputs:
              snowflake_dev:
                type: snowflake
                account: ${SNOWFLAKE_ACCOUNT}
                user: ${SNOWFLAKE_USER}
                password: ${SNOWFLAKE_PASSWORD}
                role: ${SNOWFLAKE_ROLE}
                database: ${SNOWFLAKE_DB}
                warehouse: ${SNOWFLAKE_WAREHOUSE}
                schema: PUBLIC
                threads: 1
          EOF
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
          SNOWFLAKE_DB: ${{ secrets.SNOWFLAKE_DB }}
          SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}

      - name: Machine Info
        run: | 
          pwd
          ls -al
          ls -al ~/.dbt
          ls -al snowflake_dbt 
      - name: Run dbt
        run: |
          cd snowflake_dbt
          dbt build --profiles-dir ~/.dbt
